<html>
<head>
<title>Guess Game</title>
</head>
<body>          
	   {% block body %}
	 
	<form action="{{ path('Game2D') }}" method="post" {{ form_enctype(form) }}>
  	  	{{ form_widget(form) }}
   	 	<input type="submit" value="Go Ahead.." />
	</form>
           
	{% endblock %}


</body>
</html>
